<!DOCTYPE html>
<html >
<link rel="stylesheet" href="styles/bootstrap.min.css">
<script src="angular.min.js"></script>
<script src="app.js"></script>
<body>
  <div ng-app="myApp" ng-controller="myCtrl">
        <h1>Lunch Items Checker</h1>
           <div class="form-group">
               <input id="lunch-menu" type="text" ng-model="items" placeholder="list items you want to have for lunch using comma separated" class="form-control">
               <span> {{LunchItems}}</span>
           </div>
            <br>
           <div class="form-group">
               <button class="btn btn-default" ng-click="LunchItemsCount(items)">Check If Too Much</button>
           </div>
            <br>
           <div class="form-group message">
            {{Status}}
           </div>
  </div>
</body>
</html>
